*.bak
*.[Cc]ache
*.tmp
*.user
*.suo
*.vshost.*
*DXCore.Solution
*_i.c
*_p.c
*.log
CVS/
PrecompiledWeb/
UpgradeLog*.*
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Tt]humbs.db
_UpgradeReport_Files
_[Rr]e[Ss]harper.*/
lint.db
**/build
_NCrunch*
desktop.ini
*.orig

/.idea/
*.ncrunchproject
*.ncrunchsolution
*.ncrunchsolution
*.ncrunchsolution

*.sublime-project
*.sublime-workspace

.vs

.vscode/
*.received.*
.cr/
